.main-content {
    flex-grow: 1;
    overflow-y: auto;
    margin: 0 12px 0 0;
    border-radius: 0 22px 22px 0;
    background: rgba(23, 24, 33);
    box-shadow: rgba(170, 186, 255, 0.08), 0 16px 40px rgba(6, 8, 25, 0.5);
}
